<div class="text-center row">
    <h1>{{word.rusWord}}</h1>
    <div class="row">
        <button ng-class="item?'btn-success':''" ng-repeat="item in word.answer track by $index">{{item}}</button>
    </div>
    <div class="row">
        <button ng-click="click(item, $index)" ng-repeat="item in word.shaffled track by $index"
                ng-class="$first?'text-danger':''" ng-hide="isSuccessLetter($index)">
            {{item}}
        </button>
    </div>
</div>

<hr style="border: 2px solid black"/>

<div class="row">



    <div class="col-xs-4 col-xs-offset-2">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="{{word.progress()}}"
                 aria-valuemin="0" aria-valuemax="100" style="{{'width:'+word.progress()+'%'}}">
                {{word.progress(true)}}
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-xs-offset-2">
        <button class="btn btn-info form-control" ng-click="next()">next</button>
    </div>

</div>