<div ng-repeat="">
    <!--<img src="{{}}" alt="avatar">-->
    <div class="col-xs-offset-3 col-xs-2"><label for="">{{login}}</label></div>
    <div class="col-xs-offset-3 col-xs-2"><label for="">{{mark}}</label></div>
</div>