<div class=" col-xs-6">
    <div class="row">
        <div class=" col-xs-6">
            <span class="forTitle marginClassLabel">Rus Eng</span>
            <img src="./image/5.png" alt="" class="imgRadius" style="width: 100%;">
            <a href="#/training/vocabulary/ru" class="btn btn-info myClass marginClassButton">Start</a>
        </div>

        <div class=" col-xs-6 ">
            <span class="forTitle marginClassLabel">Eng Rus</span>
            <img src="./image/5.png" alt="" class="imgRadius" style="width: 100%;">
            <a href="#/training/vocabulary/en" class="btn btn-info myClass marginClassButton">Start</a>
        </div>
    </div>
    <hr style="border: 2px solid black"/>
    <div class="row">
        <div class="cubeRectangle col-xs-12">
            <span class="forTitle marginClassLabel">Audio Training</span>
            <img src="./image/ноты.jpg" alt="" class="imgRadius" style="width: 100%;">
            <a href="#/audioTraining/audioTraining/en" id="audio"
               class="btn btn-info myClass  marginClassButton">Start</a>
        </div>
    </div>
    <!--<hr style="border: 2px solid black"/>-->
    <!--<div class="row">-->
        <!--<div class=" col-xs-6 ">-->
            <!--<span class="forTitle marginClassLabel">Eng Rus</span>-->
            <!--<img src="./image/5.png" alt="" class="imgRadius" style="width: 100%;">-->
            <!--<a href="#" class="btn btn-info myClass marginClassButton">Start</a>-->
        <!--</div>-->

        <!--<div class=" col-xs-6 ">-->
            <!--<span class="forTitle marginClassLabel">Eng Rus</span>-->
            <!--<img src="./image/5.png" alt="" class="imgRadius" style="width: 100%;">-->
            <!--<a href="#" class="btn btn-info myClass marginClassButton">Start</a>-->
        <!--</div>-->
    <!--</div>-->
</div>

<div class=" col-xs-5">
    <div class="row">
        <div class=" col-xs-12" id="ConstructorOfWords">
            <span class="forTitle marginClassLabel">Constructor of words</span>
            <img src="./image/alphabet.jpg" alt="" class="imgRadius" style="width: 100%;">
            <a href="#/constructor-of-words" class="btn btn-info myClass  marginClassButton">Start</a>
        </div>
    </div>
    <!--<hr style="border: 2px solid black"/>-->
    <!--<div class="row">-->
        <!--<div class="col-xs-12" id="ConstructorOfSentences">-->
            <!--<span class="forTitle marginClassLabel">Constructor of sentences</span>-->
            <!--<img src="./image/cubes.jpg" alt="" class="imgRadius" style="width: 100%;">-->
            <!--<a href="#/constructor-of-sentences" class="btn btn-info myClass  marginClassButton">Start</a>-->
        <!--</div>-->
    <!--</div>-->

</div>