<form ng-submit="submit()" class="form-horizontal">
    <div class="col-xs-offset-3 col-xs-6">

        <div class="form-group">
            <span class="control-label col-xs-4">Name</span>
            <div class="col-xs-6">
                <input class="form-control " type="text" ng-model="user.firstName" placeholder="enter your name">
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-xs-4">Second Name</span>
            <div class="col-xs-6">
                <input class="form-control " type="text" ng-model="user.lastName" placeholder="enter your sacond name">
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-xs-4">Login</span>
            <div class="col-xs-6">
                <input class="form-control " type="text" ng-model="user.login" placeholder="enter your login">
            </div>
        </div>

        <div class="form-group">
            <span class="col-xs-4 control-label">Email</span>
            <div class="col-xs-6">
                <input type="text" class="form-control" ng-model="user.email" placeholder="enter email">
            </div>
        </div>

        <div class="form-group">
            <span class="control-label col-xs-4">Password</span>

            <div class="col-xs-6">
                <input class="form-control " type="password" ng-model="user.password" placeholder="enter your password">
            </div>
        </div>

        <div class="form-group">
            <span class="col-xs-4 control-label">Avatar</span>
            <div class="col-xs-6">
                <input type="button" class="form-control btn btn-default" value="choose your avatar">
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-4 col-xs-offset-6">
                <button class="form-control btn btn-success">Register</button>
            </div>

        </div>
    </div>

</form>