<div class="text-center row">
    <h1>{{sentence.sentenceRus}}</h1>
    <div class="row">
        <button class="btn" ng-class="color(item,$index)" ng-click="clickBack(item, $index)" ng-repeat="item in sentence.answer track by $index">{{item}}</button>
        <!--<button class="{{'btn '+colors[$index]}}" ng-click="clickBack(item, $index)" ng-repeat="item in sentence.answer track by $index">{{item}}</button>-->
    </div>
    <div class="row">
        <button class="btn bg-primary" ng-click="click(item, $index)" ng-repeat="item in sentence.shaffledSentence track by $index"
                ng-class="$first?'text-danger':''" ng-hide="isSuccessLetter($index)">
            {{item}}
        </button>
    </div>
</div>

<hr style="border: 2px solid black"/>

<div class="row">

    <div class="col-xs-4 col-xs-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="{{words.progress()}}"
                 aria-valuemin="0" aria-valuemax="100" style="{{'width:'+words.progress()+'%'}}">
                {{words.progress(true)}}
            </div>
        </div>
    </div>
    <div class="col-xs-4  col-xs-offset-1">
        <button class="btn btn-info  form-control" ng-click="next()">next</button>
    </div>


</div>