.myClass {
    font-size: 20px;
    font-weight: bold
}

.avatarSize {
    width: 200px;
    height: 300px;
}

.forTitle {
    font-size: 2vw;
    font-weight: bold
}

.imgRadius {
    border-radius: 20px;
    background-color: lightgrey;
}

.marginClassButton {
    position: absolute;
    left: 40%;
    top: 60%;
}

.marginClassLabel {
    position: absolute;
    left: 20%;
    top: 20%;
}
.forHeaderFooter_xs{    font-size: 50px;}
/*.forHeaderFooter_xs{    font-size: 40px;}*/
/*.forHeaderFooter_xs{    font-size: 30px;}*/
body {
    background-image: url("image/back3.jpg")
}