<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="app.css">

</head>
<body>
<div class="container">
    <div ng-controller="TopBarCtrl">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6" ng-if="isAuth ?false :true">
                        <a href="#/registration" class="form-control btn btn-primary">Register</a>
                    </div>

                    <div class="col-xs-12 col-sm-6 ">
                        <button class="form-control btn btn-primary" ng-click="isAuth ? logout() : signIn()">
                            {{isAuth?"log out":"Sign In"}}</button>
                    </div>
                    <!--<div class="col-xs-12 col-sm-6 ">-->
                    <!--<button class="form-control btn btn-primary" ng-click="signIn()"> Sign In</button>-->
                    <!---->
                    <!--</div>-->
                </div>
            </div>
            <div class="col-xs-offset-2 col-xs-8 forHeaderFooter_xs"><label for="">Study with Yegor</label></div>
        </div>
        <div class="row" ng-if="isAuth">
            <div class="col-xs-12">
                <ul class="nav nav-tabs">
                    <li class=" forTitle"><a href="#/profile">My profile</a></li>
                    <li class="forTitle"><a href="#/training">Vocabulary</a></li>
                    <li class="forTitle"><a href="#/dictionary">Dictionary</a></li>
                    <li class="forTitle"><a href="#/constructor-of-sentences">Sentence</a></li>
                    <li class="forTitle"><a href="">Tenses</a></li>
                    <li class="forTitle"><a href="#/rating">Rating</a></li>
                </ul>
            </div>
        </div>



    <div class="panel panel-default row">
        <div ng-view class="panel-body"></div>
    </div>
</div>
    <div class="row">
        <div class="col-xs-12"><label class="forHeaderFooter_xs" for="">This is the place of the footer</label></div>

    </div>
</div>
<script src="build/app.js"></script>

<script type="text/ng-template" id="SignInModal.html">
    <div class="modal-header">
        <h3 class="modal-title">SignIn</h3>
    </div>

    <div class="modal-body">
        <form name="signInForm" class="form-horizontal" novalidate ng-submit="submit(user)">
            <div class="form-group">
                <label for="" class="control-label col-xs-2">Email</label>
                <div class="col-xs-10">
                    <input type="email"
                           required
                           ng-model="user.email" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-xs-2">Password</label>
                <div class="col-xs-10">
                    <input type="password"
                           required
                           ng-model="user.password" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="pull-right col-xs-2">
                    <input type="submit" ng-disabled="signInForm.$invalid"
                           class="form-control btn btn-primary" value="SignIn">
                </div>
                <div class="pull-right col-xs-2">
                    <input type="button"
                           class="form-control btn btn-info"
                           ng-click="cancel()"
                           value="Cancel">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
    </div>
</script>
</body>
</html>
