<div class="text-center row">
    <div class="row">
        <input ng-model="newWord" type="text">
        <button ng-click="addNewWord()" class="btn btn-info">add new word</button>
    </div>
    <div class="row" ng-repeat="item in allWords">
        <label class="col-xs-1" for="">{{item.audio}}</label>
        <label class="col-xs-3" for="">{{item.englishWord}}</label>
        <label class="col-xs-3" for="">{{item.rusWord}}</label>
        <label class="col-xs-2" for="">{{item.theme}}</label>
        <img class="col-xs-1" src="{{item.picture}}" alt="123">
    </div>

</div>

<hr style="border: 2px solid black"/>

<div class="row">

    <div class="col-xs-4 col-xs-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar"
                 aria-valuenow="{{words.progress()}}"
                 aria-valuemin="0" aria-valuemax="100" style="{{'width:'+words.progress()+'%'}}">
                {{words.progress(true)}}
            </div>
        </div>
    </div>
    <div class="col-xs-4  col-xs-offset-1">
        <button class="btn btn-info  form-control" ng-click="next()">next</button>
    </div>


</div>

<script type="text/ng-template" id="myModalAddNewWord.html">
    <div class="modal-header row">
        <h3 class="modal-title">You are trying to add new word:</h3>
        <h1>{{newWord}}</h1>        ???
    </div>
    <div class="modal-body row form-group" >
        <form action="">
           <div class=" form-group">
               <label class="col-xs-5 control-label" for="">Enter russian equivalent</label>
               <div class="col-xs-7">
               <input class="form-control" required type="text">
               </div>
           </div>
            <div class=" form-group">
                <label class="col-xs-5 control-label " for="">Enter theme for russian word</label>
                <div class="col-xs-7">
                <input class="form-control" type="text">
                </div>
            </div>
            <div class=" form-group">
                <label class="col-xs-5 control-label " for="">push to choose picture</label>
                <div class="col-xs-7">
                <input class=" btn btn-info form-control" type="button" >
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer row form-group">
        <button class="btn btn-primary col-xs-offset-7 col-xs-2" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning  col-xs-2" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>