<div class="panel page-header row">
    <span class="forTitle col-xs-4 col-xs-offset-2 ">Theme {{mainWord.theme}}</span>

</div>
<div>
    <div class="col-xs-4 col-xs-offset-2 ">
        <div class="row">
            <label for="" class="myClass">{{convertWordPair(mainWord,true)}}</label>
        </div>
        <div class="row">
            <img ng-src="{{mainWord.picture}}" alt="" class="avatarSize">
        </div>

    </div>
    <div class="col-xs-4">
        <audio autoplay controls>
            <source src="http://storage.mp3.cc/download/12279/b0VGYUorTXQycWx3eUxRL2JhbnJQQ1JxVXpSR3F4OTUvSWVvSmUyaGxXWWFmQ1AxYWlnaCtoanV4a0d0bWRXbVp4WVRKVTUvZFBHdkdVZEZmZGNtOXliRGFpOGJ6bWxvNVpuOVpLQWtpTXk5ZDRCZFJ6L2Y4MzRvcXdsd2wrSTY/Oksana_Pochepa_Akula-Ushla_v_rassvet_-_Soundvor.ru_(mp3.cc).mp3" type="audio/mpeg">
            Тег audio не поддерживается вашим браузером.
        </audio>
            <div>
                <input type="text" class="form-control" ng-model="answer">
            </div>

        <!--<div class="form-group" ng-repeat="item in anotherWords">
            <button class="btn btn-default form-control"> {{convertWordPair(item,false)}}</button>
        </div>-->
        <div class="form-group">
            <button class="btn btn-info form-control">next</button>
        </div>
    </div>
</div>
<div>

</div>