<div class="row">
    <div class="col-xs-4">
        <img src="./image/dog.jpg" alt="avatar" class="avatarSize">
    </div>
    <div class="">
        <span class="myClass">First Name :</span>
        <span class="myClass">{{user.firstName}}</span>
    </div>
    <div class="">
        <span class="myClass">last Name :</span>
        <span class="myClass">{{user.lastName}}</span>
    </div>
    <div class="">
        <span class="myClass">login :</span>
        <span class="myClass">{{user.login}}</span>
    </div>
    <div class="">
        <span class="myClass">email :</span>
        <span class="myClass">{{user.email}}</span>
    </div>
    <div class="">
        <span class="myClass">mark :</span>
        <span class="myClass">{{user.mark}}</span>
    </div>

</div>

