<div class="panel page-header row">
    <span class="forTitle col-xs-4 col-xs-offset-2 ">Theme {{mainWord.theme}}</span>

</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <label for="" class="myClass">{{convertWordPair(mainWord,true)}}</label>
        </div>

        <div class="row">
            <img ng-src="{{mainWord.picture}}" alt="" class="avatarSize">
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-group" ng-repeat="item in anotherWords">
            <button class="btn form-control" ng-disabled="btnNext"
            ng-class="btnNext?(item.englishWord==mainWord.englishWord?'btn-success':(item.colorr?item.colorr:'btn-info')):'btn-info'"
            ng-click="isCorrect(item,mainWord)"> {{convertWordPair(item,false)}}</button>
        </div>
    </div>

</div>

<hr style="border: 2px solid black" />

<div class="row">
    <div class="col-xs-4 col-xs-offset-1">
        <div class="progress">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
                 aria-valuemin="0" aria-valuemax="100" style="width:70%">
                70%
            </div>
        </div>
    </div>

    <div class="col-xs-4 col-xs-offset-2" ng-if="btnNext?true:false">
        <button class="btn btn-info form-control" ng-click="next()">next</button>
    </div>

</div>